<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="no.ntnu.ping404.server.ServerLauncher" />
    <module name="Ping404.server.main" />
    <option name="WORKING_DIRECTORY" value="$PROJECT_DIR$/server" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>
